* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.hero .bg-image-1, .hero .bg-image-2, .hero .bg-image-3 {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.hero .bg-image-1::after, .hero .bg-image-2::after, .hero .bg-image-3::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.65);
}

.hero .bg-image-1 {
  background-image: url("../images/handshake.jpg");
  -webkit-animation: fade 16s infinite;
          animation: fade 16s infinite;
}

.hero .bg-image-2 {
  background-image: url("../images/construction.jpg");
  -webkit-animation: fade2 16s infinite;
          animation: fade2 16s infinite;
}

.hero .bg-image-3 {
  background-image: url("../images/hospitality.jpg");
  -webkit-animation: fade3 16s infinite;
          animation: fade3 16s infinite;
}

.hero header {
  height: 50vh;
}

.hero header img {
  width: 100%;
}

.hero header nav .nav-links {
  display: none;
  background-color: #5D4954;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero header nav .nav-links li {
  list-style-type: none;
  padding: 0.625rem 0;
}

.hero header nav .nav-links li a {
  color: #fff;
  text-decoration: none;
}

.hero header nav .nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero header nav .burger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9375rem;
  display: block;
  cursor: pointer;
}

.hero header nav .burger div {
  width: 2.1875rem;
  height: 0.3125rem;
  background-color: #000;
  margin: 0.625rem;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  text-align: center;
  padding: 0.625rem;
}

.hero .hero-text h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero .hero-text h2 {
  margin: 0 auto;
  width: 80%;
  font-size: .85rem;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

.hero .hero-text .btn {
  border: 0.125rem solid white;
  padding: 0.875rem 1.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #ff9800;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
  text-decoration: none;
}

.statement {
  background-image: url("../images/dallas-skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.125rem 1.875rem;
}

.statement .statement-inner h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #186aad;
  text-align: center;
}

.statement .statement-inner p {
  text-align: justify;
  font-size: 1.15rem;
  line-height: 2;
  margin-top: 1.75rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.benefits {
  padding: 3.125rem 1.875rem;
}

.benefits h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #186aad;
  text-align: center;
  margin-bottom: 1.75rem;
}

.benefits .benefits-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits .benefits-inner .box {
  border-radius: 0.9375rem;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0.625rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .benefits-inner .box::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  border-radius: 0.9375rem;
}

.benefits .benefits-inner h3 {
  z-index: 20;
  color: #fff;
  letter-spacing: 0.0938rem;
  font-size: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
}

.benefits .benefits-inner #box-img-1 {
  background-image: url("../images/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits .benefits-inner #box-img-2 {
  background-image: url("../images/forklift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits .benefits-inner #box-img-3 {
  background-image: url("../images/hospitality-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9c9c9c), color-stop(90%, white), to(#eff1f1));
  background-image: linear-gradient(to bottom, #9c9c9c, white 90%, #eff1f1);
  padding: 3.125rem 1.875rem;
}

.aboutus h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #186aad;
  text-align: center;
  margin-bottom: 1.75rem;
}

.aboutus .aboutus-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus .aboutus-inner .aboutus-info {
  text-align: justify;
  font-size: 1.15rem;
  line-height: 2;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.aboutus .aboutus-inner .aboutus-info p {
  padding: 1rem 0;
}

.aboutus .aboutus-inner .aboutus-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus .aboutus-inner .aboutus-circles .orange-circle, .aboutus .aboutus-inner .aboutus-circles .blue-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.5625rem;
}

.aboutus .aboutus-inner .aboutus-circles .orange-circle {
  background-color: #ff7b00;
}

.aboutus .aboutus-inner .aboutus-circles .blue-circle {
  background-color: rgba(33, 150, 243, 0.9);
  position: relative;
  left: -1.25rem;
  top: 1.25rem;
}

.testimonials {
  padding: 3.125rem 0;
  position: relative;
}

.testimonials h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #186aad;
  text-align: center;
}

.testimonials .testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonial-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonial-container .image-container .prev, .testimonials .testimonial-container .image-container .next {
  position: absolute;
  cursor: pointer;
  padding: 1rem;
  color: #2196F3;
  font-weight: bold;
  font-size: 2.1875rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: .1875rem;
}

.testimonials .testimonial-container .image-container .prev {
  left: 0.3125rem;
}

.testimonials .testimonial-container .image-container .next {
  right: 0.3125rem;
}

.testimonials .testimonial-container .image-container img {
  width: 70%;
  border-radius: 50%;
  margin: 1.75rem 0;
}

.testimonials .testimonial-container .customer-quote {
  border-radius: 0.9375rem;
  margin: 1rem;
  padding: 1rem .5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-container .customer-quote .left-quote, .testimonials .testimonial-container .customer-quote .right-quote {
  font-size: .3rem;
}

.testimonials .testimonial-container .customer-quote .right-quote {
  text-align: end;
}

.testimonials .testimonial-container .customer-quote p {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  padding: .3rem;
  line-height: 1.5;
}

.testimonials .testimonial-container .customer-quote .testimonial-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 1.25rem;
}

.testimonials .testimonial-container .testimonial-dots {
  display: none;
  position: absolute;
  bottom: 1.5625rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #c2c2c2, rgba(255, 255, 255, 0));
  padding: 3.125rem 0;
}

.footer h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #186aad;
  text-align: center;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .footer-info {
  border-bottom: 0.125rem solid #000;
}

.footer .footer-container .footer-info .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
}

.footer .footer-container .footer-info .contact-info a {
  margin-left: 0.625rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
}

.footer .footer-container .footer-info .mapouter {
  width: 100%;
  height: 100%;
  margin-bottom: 2.5rem;
}

.cpy {
  text-align: center;
  margin-bottom: 0.625rem;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  83.334% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  83.334% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  51.666% {
    opacity: 1;
  }
  68.332% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  51.666% {
    opacity: 1;
  }
  68.332% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade3 {
  0% {
    opacity: 0;
  }
  51.63% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  83.334% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  51.63% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  83.334% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  .hero header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 15vh;
  }
  .hero header img {
    width: 15.625rem;
  }
  .hero header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
  }
  .hero header nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    text-align: center;
    color: #000;
    font-size: 1.5625rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero header nav .nav-links li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.0625rem) translateZ(0);
            transform: perspective(0.0625rem) translateZ(0);
    -webkit-box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0);
            box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .hero header nav .nav-links li:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 0.625rem;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    transition-property: opacity, -webkit-transform;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
  }
  .hero header nav .nav-links li:hover, .hero header nav .nav-links li:focus, .hero header nav .nav-links li:active {
    -webkit-transform: translateY(-0.3125rem);
            transform: translateY(-0.3125rem);
  }
  .hero header nav .nav-links li:hover:before, .hero header nav .nav-links li:focus:before, .hero header nav .nav-links li:active:before {
    opacity: 1;
    -webkit-transform: translateY(0.3125rem);
            transform: translateY(0.3125rem);
  }
  .hero header nav .nav-links li a {
    color: #000;
  }
  .hero header nav .burger {
    display: none;
  }
  .hero .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    padding: 3.125rem;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .hero .hero-text h1 {
    color: #fff;
    font-size: 4.6875rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .hero .hero-text h2 {
    margin: 2.1875rem auto;
    color: #fff;
    font-size: 1.5625rem;
    text-transform: uppercase;
  }
  .hero .hero-text .btn {
    width: 30%;
  }
  .hero .hero-text .btn:hover {
    background: white;
    color: #ff9800;
  }
  .statement {
    background-image: url("../images/dallas-skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3.125rem 1.875rem;
  }
  .statement .statement-inner h2 {
    font-weight: bold;
    font-size: 3rem;
    color: #186aad;
    text-align: center;
  }
  .statement .statement-inner p {
    text-align: justify;
    font-size: 1.15rem;
    line-height: 2;
    width: 50%;
    margin: 1.75rem auto 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
  }
  .benefits h2 {
    font-size: 3rem;
  }
  .benefits .benefits-inner .box {
    margin: 0.625rem;
  }
  .aboutus h2 {
    font-size: 3rem;
  }
  .aboutus .aboutus-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutus .aboutus-inner .aboutus-info {
    width: 40%;
  }
  .aboutus .aboutus-inner .aboutus-circles {
    margin-left: 2.5rem;
  }
  .aboutus .aboutus-inner .aboutus-circles .orange-circle, .aboutus .aboutus-inner .aboutus-circles .blue-circle {
    height: 15.625rem;
    width: 15.625rem;
  }
  .aboutus .aboutus-inner .aboutus-circles .blue-circle {
    left: -2.5rem;
  }
  .testimonials h2 {
    font-size: 3rem;
  }
  .testimonials .testimonial-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }
  .testimonials .testimonial-container .image-container {
    width: 30%;
  }
  .testimonials .testimonial-container .image-container img {
    width: 100%;
  }
  .testimonials .testimonial-container .customer-quote {
    width: 50%;
    background: none;
    border-radius: 0.9375rem;
    margin: auto 1rem;
    padding: 1rem .5rem;
  }
  .testimonials .testimonial-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer h2 {
    font-size: 3rem;
  }
  .footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer-container .footer-info {
    border-left: 0.125rem solid #000;
    border-bottom: none;
    padding-left: 0.625rem;
  }
}
/*# sourceMappingURL=index.css.map */