* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: rgba(255,255,255, 0.5);
}

.logo {
    display: flex;
    color: #000;
    align-items: center;
}

.logo img {
    max-width: 75%;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16px;
}

.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}

.my-header {
    position: relative;
    height: 100vh;
}

.bg-image-1, .bg-image-2, .bg-image-3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-image-1 {
    background-image: url('images/handshake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation:fade 16s infinite;
    -webkit-animation:fade 16s infinite;
}

.bg-image-2 {
    background-image: url('images/construction.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade2 16s infinite;
    -webkit-animation: fade2 16s infinite;
}

.bg-image-3 {
    background-image: url('images/hospitality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade3 16s infinite;
    -webkit-animation: fade3 16s infinite;
}

.nav-links li a {
    font-size: 20px;
}

@keyframes fade
{
  0%   {opacity:1}
  16.666% { opacity: 1}
  35% { opacity: 0}
  83.334% {opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  16.666% {opacity: 0}
  35% { opacity: 1}
  51.666% { opacity: 1 }
  68.332% {opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  51.63% { opacity: 0}
  70% { opacity: 1}
  83.334% {opacity: 1}
  100% { opacity: 0}
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
        padding: 50px;
    }

    .hero-text h1 {
        color: #fff;
        font-size: 75px;
        text-transform: uppercase;
    }

    .hero-text h3 {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    .hero-text .btn {
        border: 2px solid white;
        padding: 14px 28px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        margin: 15px 10px;
    }

    .hero-text .btn-red {
        background-color: #ff9800;
        color: white;
    }

    .hero-text .btn-blue {
        background-color: #2196F3;
        color: white;
    }

    .hero-text .btn-red:hover {
        background: #a86500;
        color: white;
    }

    .hero-text .btn-blue:hover {
        background: rgb(24, 106, 173);
        color: white;
    }

    .statement {
        min-height: 40vh;
        position: relative;
        background-color: rgb(226, 224, 224);
    }

    .statement-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .statement-inner h2 {
        font-weight: bold;
        font-size: 50px;
        color: #000;
    }

    .statement-inner p {
        font-weight: bold;
        color: #000;
        font-size: 20px;
    }

    .benefits {
        width: 100%;
        height: 325px;
        font-size: 22px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
      }

      .benefits-header {
          height: 80px;
          padding: 25px;
      }

      .benefits-header h1 {
          font-size: 35px;
          font-weight: bold;
          color: #000;
          text-align: center;
      }

      .benefits-inner {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .box {
        width: 300px;
        height: 300px;
        margin-right: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .box h1 {
        z-index: 1;
        color: #fff;
      }
      
      .box-overlay {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .3;
        position: absolute;
      }
      
      #box-img-1 {
        background-image: url("images/construction-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
      #box-img-2 {
        background-image: url("images/office.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
      #box-img-3 {
        background-image: url("images/forklift.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    
    .features {
        height: 60vh;
        width: 100%;
    }

    .testimonials {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 40vh;
        position: relative;
    }

    .testimonial-container {
        width: 50%;
        height: 40vh;
        display: none;
        margin: 0 auto;
      }
      
      .left-side {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .custom-user {
        border-radius: 50%;
        padding: 50px;
        background-color: #ddd;
      }
      
      .right-side {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .right-side-inner {
        width: 80%;
        height: 80%;
      }
      
      .top-part {
        width: 100%;
        padding: 20px;
        height: 75%;
        display: flex;
        position: relative;
      }
      
      .left-quote {
        width: 10%;
      }
      
       .right-quote {
        width: 10%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      
      .actual-quote {
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
      
      .actual-quote p {
        display: inline-block;
      }

      .stars {
          width: 100%;
          display: flex;
          justify-content: center;
          color: gold;
      }

      .star-spacing {
          margin-left: 20px;
      }

      .testimonial-name {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          color: #fff;
          font-size: 20px;
      }


      /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #2196F3;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
  
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
  
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: #2196F3;
        color: #fff;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
  
    .active, .dot:hover {
        background-color: #2196F3;
    }
  
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 15vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;
    }

    .nav-links li a {
        color: #fff;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }

    .benefits-inner {
        display: block;
    }
}